.head-payment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.pay-body{
    background-color:rebeccapurple;
    color:#fff;
}
.goback{
   margin-left: 650px;
   position: relative;
   top: 250px;
}